# This is the CODEOWNERS file for the Security Playbook.
# More info on CODEOWNERS can be found here: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Should changes to a control be requested, you will need to seek approval from the control's owner, specified below.
# Where a line is commented, this indicates the control owner hasn't yet made a GitHub account, or the control owner is unknown.

# Culture, Behaviour & Governance Control Owners:

_docs/_playbook/culture-behaviour-governance/Access_to_production.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Anonymised_data.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/BCP_%26_Disaster_Recovery.md @pipcrispy
_playbook/culture-behaviour-governance/Colleague_background_checks.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Data_retention.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/Incident_Management.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/Legal_and_regulatory_compliance.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Secure_coding_standards.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/Secure_file_transfer_solution.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/Security_champion.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Security_design_patterns.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Security_review_of_design_or_architecture.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Security_service_level_monitoring_for_suppliers.md @pipcrispy
#_docs/_playbook/culture-behaviour-governance/Security_training.md @pipcrispy
_docs/_playbook/culture-behaviour-governance/Security_user_stories.md @pipcrispy

# Hunting for Weaknesses Control Owners:

_docs/_playbook/hunting-for-weaknesses/Continuous_bug_bounty.md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Dependency_scanning.md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Dynamic_application_security_testing_(DAST).md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Penetration_testing.md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Platform_vulnerability_scanning.md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/'Red_&_Purple_teaming.md' @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Secrets_scanning.md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Static_application_security_testing_(SAST).md @pipcrispy
_docs/_playbook/hunting-for-weaknesses/Vulnerability_reporting_solution.md @pipcrispy

# Securing Products & Critical Apps Control Owners:

_docs/_playbook/securing-products-critical-apps/Application_denial_of_service_protection.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Automated_certificate_management.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Customer_uploaded_files_scans.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Data_encrypted_at_rest.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Distributed_denial_of_service_protection.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/External_connections_secured.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Guardrails_and_control_assurance_as_code.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Hardening_of_source_control_repository.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Hardening_of_virtual_machines_and_container_images.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Internal_connections_secured.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Outbound_traffic_control.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Runtime_Application_Self-Protection_(RASP).md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Secrets_management.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Secure_caching_of_data.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Secure_encryption_protocols.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Secure_randomness.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Security_Headers.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Separation_of_cloud_accounts.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Single_sign-on_and_MFA_for_administrators.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Single_sign-on_and_MFA_for_customers.md @pipcrispy
#_docs/_playbook/securing-products-critical-apps/System_integrity_assurance.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Use_of_binary_signatures.md @pipcrispy
_docs/_playbook/securing-products-critical-apps/Web_application_firewall_(WAF).md @pipcrispy
